---
import Head from "../components/Head.astro";
import Footer from "../components/Footer.astro";
import ToggleStars from "../components/ToggleStars.astro";
import Stars from "../components/Stars.astro";
import siteUrl from "../utils/siteUrl.ts";

export interface Props {
	title: string;
	description: string;
	url?: string;
	noindex?: boolean;
	jsonLd?: {
		type: string;
	};
}

const {
	title,
	description,
	url: _url = "",
	noindex = false,
	jsonLd,
} = Astro.props;

const url = siteUrl(_url);
---

<!doctype html>
<html lang="en-CA">
	<head>
		<Head {title} {description} {url} {noindex} {jsonLd} />
	</head>
	<body>
		<ToggleStars />
		<div id="wrapper">
			<slot />
			<Footer />
		</div>
		<Stars />
	</body>
</html>
