---
import Head from "../components/Head.astro";
import Footer from "../components/Footer.astro";
import ToggleStars from "../components/ToggleStars.astro";
import Stars from "../components/Stars.astro";
import site from "../data/site.ts";

export interface Props {
	title: string;
	description: string;
	url: string;
	noindex?: boolean;
	jsonLd?: {
		type: string;
	};
}

const { title, description, url, noindex = false, jsonLd } = Astro.props;
---

<!doctype html>
<html lang="en-CA">
	<head>
		<Head {title} {description} {url} {noindex} {jsonLd} />
	</head>
	<body>
		<ToggleStars />
		<div id="wrapper">
			<slot />
			<Footer author={site.author} />
		</div>
		<Stars />
	</body>
</html>
