---
import Layout from "@/layouts/Layout.astro";

import WebringsComp from "@/components/WebringsComp.astro";

const title = "Webrings — Kaelunyx Space";
const description = "A collection of webrings that I'm part of.";
const url = "webrings";
const header = {
	title: "Webrings",
	subtitle:
		"A collection of webrings that I'm part of. I love being part of communities, so if you know any webrings that I might like, please let me know!",
};
const noindex = true;
---

<Layout {title} {description} {url} {header} {noindex}>
	<main>
		<WebringsComp />
		<script is:inline defer>
			document.addEventListener("DOMContentLoaded", () => {
				const widget = document.querySelector("#onionring-widget");
				if (!widget) return;
				Array.from(widget.getElementsByTagName("a")).forEach((link) => {
					link.target = "_blank";
					link.style.cursor = "pointer";
				});
			});
		</script>
	</main>
</Layout>
