---
import Head from "@/components/Head.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Neko from "@/components/Neko.astro";

import siteUrl from "@/utils/siteUrl";

import "@/styles/global.css";

export interface Props {
	title: string;
	description: string;
	noindex?: boolean;
	header?: {
		title: string;
		subtitle: string;
	};
	nonav?: boolean;
}

const { title, description, header, noindex = false, nonav } = Astro.props;
---

<!doctype html>
<html lang="en-CA">
	<head>
		<Head {title} {description} {noindex} />
	</head>
	<body>
		<Neko aria-hidden="true" />
		{
			header && (
				<Header
					title={header.title}
					subtitle={header.subtitle}
					{nonav}
				/>
			)
		}
		<slot />
		<Footer />
	</body>
</html>
