---
import Head from "@/components/Head.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Neko from "@/components/Neko.astro";

import siteUrl from "@/utils/siteUrl.ts";

import "@/styles/global.css";

export interface Props {
	title: string;
	description: string;
	url?: string;
	noindex?: boolean;
	header?: {
		title: string;
		subtitle: string;
	};
	nonav?: boolean;
}

const {
	title,
	description,
	url: _url = "",
	header,
	noindex = false,
	nonav,
} = Astro.props;

const url = siteUrl(_url);
---

<!doctype html>
<html lang="en-CA">
	<head>
		<Head {title} {description} {url} {noindex} />
	</head>
	<body>
		<Neko aria-hidden="true" />
		{
			header && (
				<Header
					title={header.title}
					subtitle={header.subtitle}
					{nonav}
				/>
			)
		}
		<slot />
		<Footer />
	</body>
</html>
